.root {
}
.wrapper {
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  border-radius: 50%;
  max-width: 4rem;
  max-height: 5rem;
}
.nav > ul {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  list-style-type: none;
}
.nav > ul > a {
  padding-left: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.flex {
  display: flex;
}
#name > a {
  text-decoration: none;
  padding-left: 1.1rem;
  text-transform: uppercase;
  color: black;
}
