:root {
  --color-blue: rgb(56, 99, 179);
  --color-dark: #2a2a2a;
  --border-color: var(--color-dark);
}
* {
  margin: 0;
}
body {
  min-height: 500vh;
  box-sizing: border-box;
}

/* nav section */
.wrapper {
  justify-content: space-around;

  box-shadow: -5px 5px 5px gainsboro;
  margin: 2rem 0;
  position: sticky;
  top: 0;
  flex: 1 0 200px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.logo img {
  border-radius: 50%;
  max-width: 4rem;
  max-height: 5rem;
}
.nav > ul {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  list-style-type: none;
}
.nav > ul > a {
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding-top: 1.5rem;
}
/* hover for nav links */
.nav > ul > a:hover {
  cursor: pointer;
  color: rgba(30, 30, 176, 0.724);
  transform: scale(1.15);
}

.flex {
  display: flex;
}
#name > a {
  text-decoration: none;
  padding-left: 1.1rem;
  text-transform: uppercase;
  color: black;
}

/* hero section */
.home-hero {
  background: rgba(229, 149, 10, 0.759);
  max-height: 120rem;
  color: #fff;
  margin: 0;
}
.home-hero_content {
  text-align: center;
  max-width: 90rem;
  width: 92%;
  padding: 2rem 1.3rem;
}
.home-hero_content > h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 3rem;
}
.home-hero_project-button > a > button {
  text-decoration: none;
  background: #fff;
  text-transform: uppercase;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: 700;
  color: #333;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition: transform 0.3s;
  display: inline-block;
  border: none;
}
#btn:hover {
  transform: scale(1.1);
}
.home-hero_info > p {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}
