:root {
  --color-blue: rgb(56, 99, 179);
  --color-dark: #2a2a2a;
  --border-color: var(--color-dark);
}
* {
  margin: 0;
}
.wrapper {
  justify-content: space-around;

  box-shadow: -5px 5px 5px gainsboro;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.logo img {
  border-radius: 50%;
  max-width: 4rem;
  max-height: 5rem;
}
.nav > ul {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  list-style-type: none;
}
.nav > ul > a {
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding-top: 1.5rem;
}
/* hover for nav links */
.nav > ul > a:hover {
  cursor: pointer;
  color: rgba(30, 30, 176, 0.724);
  transform: scale(1.15);
}

.flex {
  display: flex;
}
#name > a {
  text-decoration: none;
  padding-left: 1.1rem;
  text-transform: uppercase;
  color: black;
}
